 .u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 489px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 489px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 130px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 9px 22px;
}

.u-section-1 .u-image-1 {
  min-height: 489px;
  background-image: url("images/IMG_20220209_132410.jpg");
  background-position: 25.32% 64.77%;
  background-size: 230%;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 10px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-1 .u-image-1 {
    min-height: 403px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 87px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-image-1 {
    min-height: 309px;
    background-size: auto 230%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 321px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 56px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-image-1 {
    min-height: 464px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
    order: 1;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 292px;
    order: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 534px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
  min-height: 404px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/IMG_20220216_121619.jpg");
  background-position: 60.83% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 17px 1px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 155px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/a0eed7f87e8b499cb79c427fc0132bdd5b4183e78d7fdd68cd38f934f4d7c9de9dd739003afc2ee0bfa78cf89c24aeedd15658b9dc996422dbe56d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 17px 1px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 155px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/ee47ff9a0ee5e5507d528d7b49a5e890490aaca74c183b4c603c7c91ad482dd45dcb0411b082ce880660c7e589562dd693b20fcf9fb10d559d1ad1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 17px 1px;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  margin: 155px auto 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/f88211b4c9fd3d3edc7908049431607af15002f11e3c6daffc19651c09c15260caad80ac6c24f122b69c3a2dbb2319336a7ec1583ca6ebe650503e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 17px 1px;
}

.u-section-2 .u-text-4 {
  font-weight: normal;
  margin: 155px auto 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/4d803af63dd42f68dfec714f2a3fd8945ac16d84f51e991a22de3b0046d79c0779f94dcee591a19996a10e988e01efddd68683b9913fa1ab8603c6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 17px 1px;
}

.u-section-2 .u-text-5 {
  font-weight: normal;
  margin: 155px auto 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 126px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 126px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 126px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 126px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 423px;
    margin-bottom: -332px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 423px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 423px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 423px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 423px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 14px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    margin-top: 309px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    margin-top: 309px;
    margin-bottom: -332px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-weight: 700;
    margin-top: 309px;
    margin-bottom: -332px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    font-weight: 700;
    margin-top: 309px;
    margin-bottom: -332px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    font-weight: 700;
    margin-top: 309px;
    margin-bottom: -332px;
  }
}