.u-section-1 .u-sheet-1 {
  min-height: 830px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 171px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 138px 485px 0 85px;
}

.u-section-1 .u-image-2 {
  width: 125px;
  height: 31px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 100px;
}

.u-section-1 .u-image-3 {
  width: 175px;
  height: 38px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 240px auto 60px 72px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 60px;
    margin-left: auto;
    margin-right: 150px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 90px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-1 .u-image-1 {
    height: 162px;
    margin-top: 249px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 296px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 901px;
  }
}

.u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: translateX(0px) translateY(0px) scale(0.99) rotate(0deg) !important;
}

.u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  transform: translateX(0px) translateY(0px) scale(0.99) rotate(0deg) !important;
}

.u-container-layout:hover .u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-2c40-16:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: translateX(0px) translateY(0px) scale(0.99) rotate(0deg) !important;
}

.u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  transform: translateX(0px) translateY(0px) scale(0.99) rotate(0deg) !important;
}

.u-container-layout:hover .u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-2c40-25:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]),
.u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: translateX(0px) translateY(0px) scale(0.99) rotate(0deg) !important;
}

.u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]).u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]).hover {
  border-radius: 10px !important;
  transform: translateX(0px) translateY(0px) scale(0.99) rotate(0deg) !important;
}

.u-container-layout:hover .u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-2c40-27:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  text-decoration: underline !important;
  margin: 60px 876px 0 84px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-blog-1 {
  width: 972px;
  margin: 15px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 366px;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-2 .u-image-1 {
  height: 189px;
  width: 429px;
  margin: 15px 23px 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-2 .u-image-2 {
  height: 189px;
  width: 429px;
  margin: 15px 23px 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 760px;
    margin-left: 0;
  }

  .u-section-2 .u-blog-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    min-height: 354px;
  }

  .u-section-2 .u-image-1 {
    width: 258px;
  }

  .u-section-2 .u-image-2 {
    width: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 540px;
  }

  .u-section-2 .u-blog-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-2 .u-image-1 {
    width: 309px;
  }

  .u-section-2 .u-image-2 {
    width: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 360px;
  }

  .u-section-2 .u-blog-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 480px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 480px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 160px;
  }

  .u-section-2 .u-blog-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 0px 0px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}