.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1378px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 500;
  font-family: dbhelvethaicamonx;
  margin: 67px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 270px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/1632156429781.jpg");
  background-position: 50% 50%;
  margin: 17px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 282px;
  min-height: 168px;
  margin: -167px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 15px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  text-transform: none;
  font-family: dbhelvethaicamonx;
  font-weight: 700;
  line-height: 1;
  margin: 3px 67px 0 0;
}

.u-section-1 .u-text-4 {
  font-family: dbhelvethaicamonx;
  font-style: normal;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 2.25rem;
  margin: 4px 67px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-1 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/56161790_378435996086855_3713997145863356416_n.jpg");
  background-position: 50% 50%;
  margin: 17px auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 282px;
  min-height: 168px;
  margin: -167px 0 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0 15px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  text-transform: none;
  font-family: dbhelvethaicamonx;
  font-weight: 700;
  line-height: 1;
  margin: 3px 67px 0 0;
}

.u-section-1 .u-text-7 {
  font-family: dbhelvethaicamonx;
  margin: 4px 67px 0 0;
}

.u-section-1 .u-list-2 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 262px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 186px;
  height: 186px;
  background-image: url("images/121231671_1262843334055640_4156618865790391504_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 282px;
  min-height: 142px;
  margin: -156px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  text-transform: none;
  font-family: dbhelvethaicamonx;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-10 {
  font-family: dbhelvethaicamonx;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 186px;
  height: 186px;
  background-image: url("images/202231821_1824085717770975_1248279243930879536_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 282px;
  min-height: 142px;
  margin: -156px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  margin: 4px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 3rem;
  text-transform: none;
  font-family: dbhelvethaicamonx;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-13 {
  font-family: dbhelvethaicamonx;
  font-size: 2.25rem;
  margin: 0 0 -115px;
}

.u-section-1 .u-list-3 {
  margin-top: 57px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 262px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 16px 30px;
}

.u-section-1 .u-image-5 {
  width: 186px;
  height: 186px;
  background-image: url("images/Opera_2021-09-26_125533_photos.google.com.png");
  background-position: 50% 50%;
  margin: 14px auto 0 0;
}

.u-section-1 .u-group-5 {
  width: 282px;
  min-height: 142px;
  margin: -156px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-15 {
  font-size: 3rem;
  text-transform: none;
  font-family: dbhelvethaicamonx;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-16 {
  font-family: dbhelvethaicamonx;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 16px 30px;
}

.u-section-1 .u-image-6 {
  width: 186px;
  height: 186px;
  background-image: url("images/25259.jpg");
  background-position: 50% 50%;
  margin: 14px auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 282px;
  min-height: 142px;
  margin: -156px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding-bottom: 0;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-18 {
  font-size: 3rem;
  text-transform: none;
  font-family: dbhelvethaicamonx;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-19 {
  font-family: dbhelvethaicamonx;
  font-size: 2.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 135px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 223px;
  }

  .u-section-1 .u-image-1 {
    width: 154px;
    height: 154px;
  }

  .u-section-1 .u-group-1 {
    width: 225px;
    margin-top: -39px;
  }

  .u-section-1 .u-image-2 {
    width: 154px;
    height: 154px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 216px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    width: 237px;
    height: 237px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 234px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 237px;
    height: 237px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 91px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 183px;
  }

  .u-section-1 .u-image-1 {
    width: 184px;
    height: 184px;
    margin-right: 11px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 307px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 184px;
    height: 184px;
    margin-right: 11px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -41px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
    height: 245px;
    margin-right: 55px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-2 {
    width: 245px;
    height: 245px;
    margin-right: 55px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
  }
}@font-face {
  font-family: 'dbhelvethaicamonx';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/dbhelvethaicamonx.ttf);
}