.u-section-1 .u-sheet-1 {
  min-height: 189px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 85px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 65px auto 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 51px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 890px;
}

.u-section-2 .u-image-1 {
  width: 486px;
  height: 45px;
  margin: 91px 1px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 488px;
  height: 163px;
  margin: 61px auto 0 46px;
}

.u-section-2 .u-video-1 {
  width: 486px;
  height: 272px;
  margin: -217px 137px 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-poster-1 {
  background-image: url("images/maxresdefault.jpg");
}

.u-section-2 .u-image-3 {
  width: 486px;
  height: 262px;
  margin: 30px auto 0 13px;
}

.u-section-2 .u-image-4 {
  width: 526px;
  height: 262px;
  margin: -262px 115px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 570px;
  height: 233px;
  margin: -42px 78px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 65px;
  }

  .u-section-2 .u-image-2 {
    width: 486px;
    height: 86px;
    margin-top: -86px;
    margin-left: -92px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 6px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 24px;
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 24px;
    margin-right: 137px;
  }

  .u-section-2 .u-image-5 {
    margin: -247px auto 47px 114px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-2 .u-image-2 {
    width: 499px;
    height: 94px;
    margin-top: 1px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-video-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -53px;
    margin-bottom: 0;
    margin-left: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-2 .u-image-1 {
    width: 499px;
    height: 53px;
    margin-top: 96px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-video-1 {
    margin-top: 24px;
    margin-right: 54px;
  }

  .u-section-2 .u-image-3 {
    height: 245px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 486px;
    height: 230px;
    margin-top: 41px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    height: 220px;
    margin-top: -55px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-2 .u-image-1 {
    height: 39px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 64px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 6px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 190px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 161px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    height: 102px;
    width: 486px;
    margin: 6px auto 60px -11px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 529px;
}