.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-product-1 {
  min-height: 592px;
  margin-top: 41px;
  margin-bottom: 1px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 0 23px 30px;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 514px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 514px;
  margin: -514px 22px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: dbhelvethaicamonx;
  line-height: 0.8;
  margin: 45px auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 43px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: dbhelvethaicamonx;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-product-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-product-1 {
    min-height: 477px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-product-1 {
    min-height: 836px;
    margin-top: 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -504px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center;
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 314px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -314px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 978px;
}

.u-section-2 .u-text-1 {
  width: 803px;
  font-weight: 700;
  font-family: dbhelvethaicamonx;
  font-size: 2.8125rem;
  margin: 58px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.2;
  margin: 51px 616px 0 169px;
}

.u-section-2 .u-text-4 {
  line-height: 1.2;
  margin: -384px 181px 0 604px;
}

.u-section-2 .u-text-5 {
  line-height: 1.2;
  margin: 58px 181px 0 604px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-family: dbhelvethaicamonx;
  font-size: 2.8125rem;
  width: 803px;
  margin: 46px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 938px;
  margin: 22px 58px 58px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 172px;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 0 15px;
}

.u-section-2 .u-text-7 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: 4px 233px 0 87px;
}

.u-section-2 .u-icon-1 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -34px auto 0 42px;
}

.u-section-2 .u-icon-2 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -34px 154px 0 auto;
}

.u-section-2 .u-text-8 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: -32px 67px 0 326px;
}

.u-section-2 .u-text-9 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: 15px 233px 0 87px;
}

.u-section-2 .u-icon-3 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -34px auto 0 42px;
}

.u-section-2 .u-icon-4 {
  width: 34px;
  height: 34px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: -29px 154px 0 auto;
}

.u-section-2 .u-text-10 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: -32px 42px 0 326px;
}

.u-section-2 .u-icon-5 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: 17px auto 0 42px;
}

.u-section-2 .u-text-11 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: -32px 282px 0 86px;
}

.u-section-2 .u-icon-6 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -34px 154px 0 auto;
}

.u-section-2 .u-text-12 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: -32px 88px 0 326px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 172px;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 0 15px;
}

.u-section-2 .u-icon-7 {
  width: 34px;
  height: 34px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 2px auto 0 15px;
}

.u-section-2 .u-text-13 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: -32px 213px 0 59px;
}

.u-section-2 .u-icon-8 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: 17px auto 0 15px;
}

.u-section-2 .u-text-14 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: -32px 213px 0 59px;
}

.u-section-2 .u-icon-9 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: 18px auto 0 15px;
}

.u-section-2 .u-text-15 {
  font-family: dbhelvethaicamonx;
  font-size: 1.25rem;
  margin: -32px 213px -52px 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    width: 803px;
    margin-left: 69px;
    margin-right: 516px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 81px;
    margin-left: 504px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 81px;
    margin-left: 504px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: 2px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-icon-8 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-2 .u-icon-9 {
    color: rgb(71, 138, 201) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 365px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 365px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 365px;
  }

  .u-section-2 .u-text-6 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 179px;
    margin-left: 33px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 118px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 13px;
    margin-left: 272px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 179px;
    margin-left: 33px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 118px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 259px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 228px;
    margin-left: 32px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 118px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 34px;
    margin-left: 272px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 148px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 148px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 148px;
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-right: 185px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 185px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 185px;
  }

  .u-section-2 .u-text-6 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 74px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 85px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 74px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 59px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 74px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 554px;
}

.u-section-3 .u-text-1 {
  font-family: dbhelvethaicamonx;
  font-size: 3rem;
  margin: 29px 449px 0 488px;
}

.u-section-3 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 29px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-14 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-15 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-16 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-17 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-18 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 388px;
    margin-right: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 278px;
    margin-right: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 188px;
    margin-right: 149px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 88px;
    margin-right: 49px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'dbhelvethaicamonx';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/dbhelvethaicamonx.ttf);
}